<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hwyz.iov.cloud.mpt.system.service.mapper.TspSgwRouteMapper">

    <resultMap type="net.hwyz.iov.cloud.mpt.system.api.domain.TspSgwRoute" id="TspSgwRouteResult">
        <id property="id" column="id"/>
        <result property="predicates" column="predicates"/>
        <result property="filters" column="filters"/>
        <result property="targetType" column="target_type"/>
        <result property="targetUri" column="target_uri"/>
        <result property="sort" column="sort"/>
        <result property="description" column="description"/>
        <result property="rowValid" column="row_valid"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="modifyBy" column="modify_by"/>
        <result property="modifyTime" column="modify_time"/>
    </resultMap>

    <sql id="selectRouteVo">
        select r.id,
               r.predicates,
               r.filters,
               r.target_type,
               r.target_uri,
               r.sort,
               r.description,
               r.row_valid,
               r.create_by,
               r.create_time,
               r.modify_by,
               r.modify_time
        from db_sgw.tb_route r
    </sql>

    <select id="selectRouteList" parameterType="net.hwyz.iov.cloud.mpt.system.api.domain.TspSgwRoute"
            resultMap="TspSgwRouteResult">
        <include refid="selectRouteVo"/>
        where r.row_valid = 1
        <!-- 数据范围过滤 -->
        ${params.dataScope}
        order by r.sort asc, id desc
    </select>

    <select id="selectRouteById" parameterType="Long" resultMap="TspSgwRouteResult">
        <include refid="selectRouteVo"/>
        where r.id = #{routeId}
    </select>

    <insert id="insertRoute" parameterType="net.hwyz.iov.cloud.mpt.system.api.domain.TspSgwRoute" useGeneratedKeys="true"
            keyProperty="id">
        insert into db_sgw.tb_route(
        <if test="id != null and id != 0">id,</if>
        <if test="predicates != null and predicates != ''">predicates,</if>
        <if test="filters != null and filters != ''">filters,</if>
        <if test="targetType != null and targetType != ''">target_type,</if>
        <if test="targetUri != null and targetUri != ''">target_uri,</if>
        <if test="sort != null">sort,</if>
        <if test="description != null and description != ''">description,</if>
        <if test="rowValid != null">row_valid,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_time
        )values(
        <if test="id != null and id != 0">#{id},</if>
        <if test="predicates != null and predicates != ''">#{predicates},</if>
        <if test="filters != null and filters != ''">#{filters},</if>
        <if test="targetType != null and targetType != ''">#{targetType},</if>
        <if test="targetUri != null and targetUri != ''">#{targetUri},</if>
        <if test="sort != null">#{sort},</if>
        <if test="description != null and description != ''">#{description},</if>
        <if test="rowValid != null">#{rowValid},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate()
        )
    </insert>

    <update id="updateRoute" parameterType="net.hwyz.iov.cloud.mpt.system.api.domain.TspSgwRoute">
        update db_sgw.tb_route
        <set>
            <if test="predicates != null and predicates != ''">predicates = #{predicates},</if>
            <if test="filters != null and filters != ''">filters = #{filters},</if>
            <if test="targetType != null and targetType != ''">target_type = #{targetType},</if>
            <if test="targetUri != null and targetUri != ''">target_uri = #{targetUri},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="modifyBy != null and modifyBy != ''">modify_by = #{modifyBy},</if>
            row_version = row_version + 1,
            modify_time = sysdate()
        </set>
        where id = #{id}
    </update>

    <delete id="deleteRoleById" parameterType="Long">
        update db_sgw.tb_route
        set row_valid = 0
        where id = #{id}
    </delete>

    <delete id="deleteRoleByIds" parameterType="Long">
        update db_sgw.tb_route set row_valid = 0 where id in
        <foreach collection="array" item="routeId" open="(" separator="," close=")">
            #{routeId}
        </foreach>
    </delete>

</mapper> 